/* STYLES RESET */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF STYLES RESET */ 

h2 {
  vertical-align: center;
  text-align: center;
}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #677788;
  height: 50px;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

input {
  margin: 0;
}

.menu__button--container {
  display: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #8197ad 1px solid;
  border-radius: 0.25rem;
}

#menu-toggle {
  display: none;
}

.menu__button,
.menu__button::before,
.menu__button::after {
  display: block;
  background-color: #677788;
  position: absolute;
  height: 2px;
  width: 17px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  
}

.menu__button::before {
  content: '';
  margin-top: -8px;
}

.menu__button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu__button--container .menu__button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu__button--container .menu__button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu__button--container .menu__button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

a {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  color: #677788;
}

@media (max-width: 1000px) {
  .menu__button--container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  .menu > li {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #444;
    background-color: #fff;
}

.navbar {
  margin: 20px 20px
}
}



a:hover {
  color: #377dff;
}

.menu__item {
  position: relative;
  padding-top: 0.85rem;
  color: #fff;
}

.btn {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff;
  padding: 1rem 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 0.3125rem;
  border: 0;
  align-self: center;
}


/* SECOND SECTION */

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 5rem;
  color: #1e2022;
  text-align: center;
  width: 50%;
  margin-top: 50px;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #1e2022;
  text-align: center;
  width: 50%;
  margin-top: 50px;
}

.lead {
  font-size: 1.75rem;
  text-align: center;
  height: 100px;
  line-height: 3rem;
  width: 60%;
  margin-bottom: 50px;
}

section {
  width: 100vw;
}

.examples {
  width: 100%;
}

.browser-image {
  width: 50vw;
}

section {
  padding: 0;
}

.submenu {
  display: none;
}

.submenu::after {
  display: block;
  position: absolute;
  color: red;
}

@media (max-width: 1000px) {
  .examples {
    display: none;
  }

  
  .build {
    box-sizing: border-box;
    display: block;
    text-align: center;
  }
  .lead {
    margin-left: -5vw;
  }
  .examples__mobile {
    position: absolute;
    width: 40rem;
    margin-top: 200px;
    margin-left: -400px;
  }
}

@media (min-width: 1000px) {
  .examples__mobile {
    display: none;
  }
}


/* 


html,
body {
  margin: 0;
  font-family: Inter, serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5rem;
  color: #677788;
  background-color: #fff;
}

.container {
  width: 100%;
  text-align: center;
  margin-bottom: 10rem;
}

div {
  display: block;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
}

.navbar-nav-item {
  position: relative;
}

/*
.navbar {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-basis: auto;
  margin-left: 70px;
  margin-right: 70px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
}

.navbar-nav {
  justify-content: flex-end;
  margin-left: auto;
  flex-grow: 1;
}

li {
  display: list-item;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  float: left;
  list-style: none;
  margin-left: 50px;
}
*/

/*

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff;
  padding: 1rem 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  display: inline-block;
  font-family: Inter, serif;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 0.3125rem;
  border: 0;
  align-self: center;
}

.btn:hover {
  color: #fff;
  background-color: #2f6ad9;
  border-color: #2c64cc;
}

.btn:active {
  color: #fff;
  background-color: #2f6ad9;
  border-color: #2c64cc;
}

.nav-link {
  display: block;
  color: #677788;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item-arrow {
  height: 15px;
  width: 15px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
}

.navbar-nav-item:hover .submenu {
  display: block;
}

.submenu li {
  width: 100%;
}

.submenu a {
  padding: 10px 20px;
}

.submenu a:hover {
  background-color: #555;
}

.nav-link:hover {
  background-color: #fff;
  color: #377dff;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 5rem;
  color: #1e2022;
  text-align: center;
  width: 50%;
  margin-left: 23%;
  margin-top: 50px;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #1e2022;
  text-align: center;
  width: 50%;
  margin-left: 23%;
  margin-top: 50px;
}

.lead {
  font-size: 1.75rem;
  text-align: center;
  height: 100px;
  line-height: 3rem;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
}

.examples {
  width: 100%;
  margin: 60px 30px;
}

.browser-image {
  width: 50vw;
}

.browser-heder-btn-list-btsn {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  border-radius: 50%;
}

.pages {
  border: 1px solid #1e2022;
  border-radius: 0.3125rem;
  padding: 5px;
  font-size: 0.75rem;
}

/* SEKCJA 3 */

.align-div {
  margin-top: 100px;
  display: flex;
}

.align-div-left {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  text-align: left;
  margin-left: 50px;
}

.align-div-right {
  flex: 1;
  background-color: #ccc;
  padding: 10px;
  margin-right: 50px;
}

h3 {
  text-align: left;
  font-size: 3rem;
}

.browser-header-browser-bar {
  background-color: #fff;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-bottom: 10px;
  border-radius: 0.3215rem;
}

.browser-text-h2 {
  margin-top: 80px;
  color: black;
}

.browser-text-p {
  color: #677788;
  margin-top: 70px;
  margin-bottom: 100px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-right: 50px;
}

/* STOPKA */

footer {
  background-color: #21325b;
  color: #fff;
  padding: 20px;
}

.footer-row {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: calc(20% - 20px); /* 20% szerokości z odstępem między kolumnami */
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Dodatkowy styl dla nagłówków kolumn i listy */
h4 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 40px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.footer-column-element {
  text-align: left;
  text-decoration: none;
}

